<%- include('header') %>
    <h1>Dashboard nya</h1>
    <p>Welcome, <%= user.username %>.</p>
    <strong>Guestbook available at <a href="https://<%= user.username %>.<%= env.host %>/">https://<%= user.username %>.<%= env.host %>/</a></strong>
    <h3>Inbox</h3>
    <% if (guestbook.messages.length == 0) { %>
        <p>No messages, <i>yet</i>.</p>
    <% } else { %>
        <p>Messages:</p>
        <% guestbook.messages.forEach(function(message) { %>
            <li>
                <strong><%= message.name %>:</strong> <%= message.message %> <em>(<%= message.createdAt %>)</em>
            </li>
        <% }); %>
    <% } %>
<%- include('footer') %>