<%- include('header') %>
    <p>Welcome, <%= user.username %>.</p>
    <strong>Drawbox available at <a href="https://<%= drawbox.domain %>/">https://<%= drawbox.domain %>/</a></strong>
    <div class="row-container">
        <div class="inbox-container">
            <h3>Inbox</h3>
            <hr>
            <div class="drawing-container">
                <% drawbox.images.forEach(image=> { %>
                    <div class="image-container" style="max-width: 200px; margin: 10px; position: relative;">
                        <img src="/retrieveImage/<%= image.id %>?domain=<%= drawbox.domain %>" alt="Drawing" style="max-width: 200px;">
                        <button id="deleteButton" onclick="deleteImage('<%= image.id %>')" style="position: absolute; top: 1vh; right: 1vh;">X</button>
                    </div>
                <% }); %>
            </div>
        </div>
        <div>
            <h3 style="margin: 0;">Config</h3>
            <hr>
            <form action="/setDomain" method="POST">
                <label for="domain">Set Domain:</label>
                <input type="text" id="domain" name="domain" value="<%= drawbox.domain %>" required>
                <button type="submit">Save</button>
            </form>
            <form action="/setCaptcha" method="POST">
                <label for="captcha">Protect with Captcha:</label>
                <input type="checkbox" id="captcha" name="captcha" <%= drawbox.captcha ? 'checked' : '' %>>
                <button type="submit">Save</button>
            </form>
            <form action="/setColor" method="POST">
                <label for="color">Text Color:</label>
                <input type="color" id="color" name="color" value="<%= drawbox.imageBrushColor %>" required>
                <label for="backgroundColor">Background Color:</label>
                <input type="color" id="backgroundColor" name="backgroundColor" value="<%= drawbox.imageBackgroundColor %>" required>
                <button type="submit">Save</button>
            </form>
        </div>
        <script type="text/javascript">
            function deleteImage(id) {
                fetch('/deleteImage/' + id, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(() => {
                    location.reload();
                });
            }
        </script>
    </div>
<%- include('footer') %>