<%- include('header') %>
    <p>Welcome, <%= user.username %>.</p>
    <strong>Drawbox available at <a href="https://<%= drawbox.domain %>/">https://<%= drawbox.domain %>/</a></strong>
    <div class="row-container">
        <div class="inbox-container">
            <h3>Inbox</h3>
            <hr>
            <div class="drawing-container">
                <% if (drawbox.images.length === 0) { %>
                    <p id="no-entries">No purrs <i>yet</i>.</p>
                    <script>
                        const phrases = [
                            "No purrs yet, but the cat's out of the bag!",
                            "Still waiting for the first paw print!",
                            "No doodles yet, but the canvas is ready!",
                            "No scribbles yet, but the pen is poised!",
                            "No sketches yet, but the paper is blank!",
                            "Poyo was here",
                            "No drawings yet, but in a little bit they'll be flowing in!",
                        ];

                        const randomPhrase = phrases[Math.floor(Math.random() * phrases.length)];
                        document.getElementById('no-entries').innerHTML = randomPhrase;
                    </script>
                <% } %>
                <% drawbox.images.reverse().forEach(image => { %>
                    <div class="image-container" style="max-width: 200px; margin: 10px; position: relative;">
                        <img src="/retrieveImage/<%= image.id %>?domain=<%= drawbox.domain %>" alt="Drawing" style="max-width: 200px;">
                        <button id="deleteButton" onclick="deleteImage('<%= image.id %>')" style="position: absolute; top: 1vh; right: 1vh;">X</button>
                    </div>
                <% }); %>
                
            </div>
        </div>
        <div style="max-width: 30%;">
            <h3 style="margin: 0;">Config</h3>
            <hr>
            <form action="/setDomain" method="POST">
                <label for="domain">Set Domain:</label>
                <input type="text" id="domain" name="domain" value="<%= drawbox.domain %>" required>
                <button type="submit">Save</button>
            </form>
            <form action="/setCaptcha" method="POST">
                <label for="captcha">Protect with Captcha:</label>
                <input type="checkbox" id="captcha" name="captcha" <%= drawbox.captcha ? 'checked' : '' %>>
                <button type="submit">Save</button>
            </form>
            <h3 style="margin-bottom: 0;">Customization</h3>
            <hr>
            <form action="/setColor" method="POST">
                <label for="color">Text Color:</label>
                <input type="color" id="color" name="color" value="<%= drawbox.imageBrushColor %>" required>
                <label for="backgroundColor">Background Color:</label>
                <input type="color" id="backgroundColor" name="backgroundColor" value="<%= drawbox.imageBackgroundColor %>" required>
                <button type="submit">Save</button>
            </form>
            <h4 style="margin-bottom:0;"><u>Custom Styles</u></h4>
            <form action="/setCustomStyles" method="POST">
                <label for="customStyles">Custom CSS:</label>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/css/css.min.js"></script>
                <script>
                    document.addEventListener('DOMContentLoaded', (event) => {
                        var editor = CodeMirror.fromTextArea(document.getElementById('customStyles'), {
                            lineNumbers: true,
                            mode: 'css',
                            theme: 'default'
                        });
                    });
                </script>
                <textarea id="customStyles" name="customStyles" style="max-width: 100%; height: 20%;"><%= customStyles %></textarea>
                <button type="submit">Save</button>
            </form>
        </div>
        <script type="text/javascript">
            function deleteImage(id) {
                fetch('/deleteImage/' + id, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(() => {
                    location.reload();
                });
            }
        </script>
    </div>
<%- include('footer') %>