<%- include('header') %>
    <p>Welcome, <%= user.username %>.</p>
    <strong>Drawbox available at <a href="https://<%= drawbox.domain %>/">https://<%= drawbox.domain %>/</a></strong>
    <div class="row-container">
        <div>
            <h3>Inbox</h3>
        </div>
        <div>
            <h3>Config</h3>
            <form action="/setDomain" method="POST">
                <label for="domain">Set Domain:</label>
                <input type="text" id="domain" name="domain" value="<%= drawbox.domain %>" required>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
<%- include('footer') %>