<head>
    <title><%- drawbox.name.charAt(0).toUpperCase() + drawbox.name.slice(1) %>'s DrawBox! - <%= env.CLEAN_HOST %></title>
    <meta name="description" content="<%= drawbox.name %>'s DrawBox! Draw something and submit it to the gallery! pls pls pls">
</head>
<body>
    <div class="container">
        <h1><%- drawbox.name.charAt(0).toUpperCase() + drawbox.name.slice(1) %>'s DrawBox!</h1>
        <canvas id="drawCanvas" width="200" height="200" style="border:1px solid #000000;"></canvas>
        <button id="undoButton">Undo</button>
            <% if (drawbox.captcha) { %>
                <div id="captcha-container">
                    <script src="/js/captcha.js"></script>
                </div>
            <% } %>
        <button id="submitDrawing">Submit Drawing</button>
        <script>
            const canvas = document.getElementById('drawCanvas');
            const ctx = canvas.getContext('2d');
            let drawing = false;
            let drawingHistory = [];

            // Set canvas background to white
            ctx.fillStyle = '<%= drawbox.imageBackgroundColor %>';
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            saveState();

            canvas.addEventListener('mousedown', startDrawing);
            canvas.addEventListener('mouseup', stopDrawing);
            canvas.addEventListener('mousemove', draw);

            function startDrawing() {
                drawing = true;
                ctx.beginPath();
            }

            function stopDrawing() {
                drawing = false;
                ctx.beginPath();
                saveState(); // Save state after each stroke
            }

            function draw(event) {
                if (!drawing) return;
                ctx.lineWidth = 5;
                ctx.lineCap = 'round';
                ctx.strokeStyle = '<%= drawbox.imageBrushColor %>';

                ctx.lineTo(event.clientX - canvas.offsetLeft, event.clientY - canvas.offsetTop);
                ctx.stroke();
                ctx.beginPath();
                ctx.moveTo(event.clientX - canvas.offsetLeft, event.clientY - canvas.offsetTop);
            }

            function saveState() {
                drawingHistory.push(canvas.toDataURL());
            }

            function undo() {
                if (drawingHistory.length > 1) {
                    drawingHistory.pop(); // Remove current state
                    let img = new Image();
                    img.src = drawingHistory[drawingHistory.length - 1];
                    img.onload = function () {
                        ctx.clearRect(0, 0, canvas.width, canvas.height);
                        ctx.drawImage(img, 0, 0);
                    }
                }
            }

            document.getElementById('submitDrawing').addEventListener('click', () => {
                convertImage();
            });

            document.getElementById('undoButton').addEventListener('click', undo);

            function convertImage() {
                var image = canvas.toDataURL("image/png");
                sendMessage(image);
            }

            function sendMessage(image) {
                var msg = {
                    image: image, 
                    id: '<%= drawbox.id %>', 
                }
                <% if (drawbox.captcha) { %>
                    msg.captchaAnswer = document.getElementById('captchaAnswer').value;
                    msg.captchaToken = document.getElementById('captchaToken').value;
                <% } %>
                var msg = JSON.stringify(msg);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/addEntry', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(msg);
                xhr.onload = function () {
                    if (xhr.status == 200) {
                        alert('Drawing submitted successfully!');
                    } else {
                        console.error('Error:', xhr.statusText);
                    }
                };
                setTimeout(() => { window.location.reload(); }, 2000);
            }
        </script>
        <hr>
        <div class="image-gallery">
            <% drawbox.images.forEach(image=> { %>
                <div class="image-container" style="max-width: 200px; margin: 10px; position: relative;">
                    <img src="/retrieveImage/<%= image.id %>?domain=<%= drawbox.domain %>" alt="Drawing" style="max-width: 200px;">
                    <% if (user && drawbox.name == user.username) { %>
                        <button id="deleteButton" onclick="deleteImage('<%= image.id %>')" style="position: absolute; top: 1vh; right: 1vh;">X</button>
                    <% } %>
                </div>
            <% }); %>
            <% if (user && drawbox.name == user.username) { %>
                <script type="text/javascript">
                    function deleteImage(id) {
                        fetch('/deleteImage/' + id, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(() => {
                            location.reload();
                        });
                    }
                </script>
            <% } %>
        </div>
    </div>
</body>