<body>
    <div class="container">
        <h1><%- drawbox.name.charAt(0).toUpperCase() + drawbox.name.slice(1) %>'s DrawBox!</h1>
        <canvas id="drawCanvas" width="200" height="200" style="border:1px solid #000000;"></canvas>
        <button id="undoButton">Undo</button>
        <div id="captcha-container">
            <script src="/js/captcha.js"></script>
        </div>
        <button id="submitDrawing">Submit Drawing</button>
        </script>
        <script>
            const canvas = document.getElementById('drawCanvas');
            const ctx = canvas.getContext('2d');
            let drawing = false;
            let drawingHistory = [];

            // Save initial blank state
            saveState();

            canvas.addEventListener('mousedown', startDrawing);
            canvas.addEventListener('mouseup', stopDrawing);
            canvas.addEventListener('mousemove', draw);

            function startDrawing() {
                drawing = true;
                ctx.beginPath();
            }

            function stopDrawing() {
                drawing = false;
                ctx.beginPath();
                saveState(); // Save state after each stroke
            }

            function draw(event) {
                if (!drawing) return;
                ctx.lineWidth = 5;
                ctx.lineCap = 'round';
                ctx.strokeStyle = '#000000';

                ctx.lineTo(event.clientX - canvas.offsetLeft, event.clientY - canvas.offsetTop);
                ctx.stroke();
                ctx.beginPath();
                ctx.moveTo(event.clientX - canvas.offsetLeft, event.clientY - canvas.offsetTop);
            }

            function saveState() {
                drawingHistory.push(canvas.toDataURL());
            }

            function undo() {
                if (drawingHistory.length > 1) {
                    drawingHistory.pop(); // Remove current state
                    let img = new Image();
                    img.src = drawingHistory[drawingHistory.length - 1];
                    img.onload = function () {
                        ctx.clearRect(0, 0, canvas.width, canvas.height);
                        ctx.drawImage(img, 0, 0);
                    }
                }
            }

            document.getElementById('submitDrawing').addEventListener('click', () => {
                convertImage();
            });

            document.getElementById('undoButton').addEventListener('click', undo);

            function convertImage() {
                var image = canvas.toDataURL("image/png");
                sendMessage(image);
            }

            function sendMessage(image) {
                var msg = JSON.stringify({ image: image, id: '<%= drawbox.id %>', captchaAnswer: document.getElementById('captchaAnswer').value, captchaToken: document.getElementById('captchaToken').value });
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/addEntry', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(msg);
                xhr.onload = function () {
                    if (xhr.status == 200) {
                        alert('Drawing submitted successfully!');
                    } else {
                        console.error('Error:', xhr.statusText);
                    }
                };
                setTimeout(() => { window.location.reload(); }, 2000);
            }
        </script>
        <hr>
        <div class="image-gallery">
            <% drawbox.images.forEach(image=> { %>
                <div class="image-container" style="max-width: 200px; margin: 10px; position: relative;">
                    <img src="/retrieveImage/<%= image.id %>?domain=<%= drawbox.domain %>" alt="Drawing" style="max-width: 200px;">
                    <button id="deleteButton" onclick="deleteImage('<%= image.id %>')" style="position: absolute; top: 1vh; right: 1vh;">X</button>
                </div>
            <% }); %>
        </div>
    </div>
</body>